<h1>パスワードリセット</h1>

<%= form_with url: password_reset_path, method: :post, local: true do %>
  <div>
    <%= label_tag :email, 'メールアドレス' %>
    <%= email_field_tag :email %>
  </div>
  <div>
    <%= submit_tag 'パスワードリセット' %>
  </div>
<% end %>
