<%= form_with url: training_suggestions_path, method: :post, local: true do |f| %>
  <div>
    <%= f.label :body_part_id, '部位を選択' %>
    <%= f.collection_select :body_part_id, @body_parts, :id, :name %>
  </div>
  <%= f.submit '提案を生成' %>
<% end %>
