<%= form_with url: training_suggestions_path, method: :post do |form| %>
  <div>
    <%= form.label :body_part_id, '部位を選択' %>
    <%= form.select :body_part_id, options_from_collection_for_select(@body_parts, :id, :name, params[:body_part_id]) %>
  </div>
  <%= form.submit '提案を生成' %>
<% end %>
