<!-- app/views/training_suggestions/new.html.erb -->

<%= form_with url: training_suggestions_path, method: :post, data: { turbo: false }, local: true do |form| %>
  <div class="field">
    <%= form.label :body_part_code, "部位を選択してください" %>
    <%= form.select :body_part_code, options_for_select(@body_parts.map { |bp| [bp.name, bp.code] }) %>
  </div>
  <div class="actions">
    <%= form.submit "提案生成", class: "btn btn-primary" %>
  </div>
<% end %>
